{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{post.date_created}} by {{post.writer.username}}</div>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.picture.url }}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{post.text}}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <form method='post' action="">
                                    {% csrf_token %}
                                    <input type="text" name="body" placeholder='Write your messages Here...'>
                                </form>
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <hr/>
                                    {% for message in post_messages %}
                                    <blockquote>
                                        <div>
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="{{message.sender.avatar.url}}" alt="..." /></div>
                                            <div class="ms-3">
                                            <div class="fw-bold">{{message.sender.username}}</div>
                                            <div><small>{{message.date_created|timesince}} ago</small></div>
                                            {% if request.user == message.sender %}
                                                <a href='{% url "blog:message-edit" message.id %}'>edit</a> 
                                                <a href='{% url "blog:message-delete" message.id %}'>
                                              <div >
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                  <title>remove</title>
                                                  <path
                                                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                                                  ></path>
                                                </svg>
                                              </div></a>
                                            {% endif %}
                                            <p>{{message.body}}</p>
                                            {% if user.is_authenticated %}
                                                <button><a href="{% url 'blog:create-reply' message.id %}">reply</a></button>
                                                {% if message.replied %}
                                                    <button><a href="{% url 'blog:show-reply' message.id %}">Show Replies</a></button>
                                                {% endif %}
                                                {% if message.like %}
                                                    <a href='{% url "blog:message-like" message.id %}'><input type="image" src="{% static '/assets/red_like.ico' %}"></a>
                                                {% else %}
                                                    <a href='{% url "blog:message-like" message.id %}'><input type="image" src="{% static '/assets/white_like.ico' %}"></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </blockquote>
                                    {% endfor %}
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <form class="card mb-4" method="get" action= "{% url 'blog:home' 1 %}">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input name="q" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}